<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>You phrase in Pig Latin</h1>
      <p><%= @phrase.to_pig_latin(params[:text].to_s) %></p>
  </body>
</html>
