<!DOCTYPE html>
<html>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <p>Enter your phrase:<input type="text" name="user_phrase"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
