<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/piglatinize" method="post">
      <input type="text" name="text">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
